@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-gray-800;
    overflow: auto;
    margin: auto;
    padding: auto;
    font-family: 'Manrope', sans-serif;
    max-width: 1700px;
  }

  *::-webkit-scrollbar {
    width: 5px !important;
  }

  *::-webkit-scrollbar-track {
    background-color: #f1f1f1 !important;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #888 !important;
    border-radius: 2px !important;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #555 !important;
  }
   h1 {
    font-size: 20px !important;
    font-weight: 500 !important
  }

  *::before,
  *,
  *::after,
  html {
    font-size: 98.5% !important;
  }
 
}

@layer components {
  .sidebar {
    max-height: 100%;
  }
}